.table-header {
    background: #0c88da;
    background: linear-gradient(90deg, rgba(12,136,218,1) 0%, rgba(78,211,239,1) 38%, rgba(157,224,244,1) 79%, rgba(124,204,228,1) 100%);
    color     : #ffffff;
}
.table-body{
    background: #ffffff;
}

.card-table{
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 20px;
}

.swipe{
    background : none !important;
    color      : #0c88da;
    border     : none;
    font-weight: 500;
    margin-right: 10px;
}
.swipe:hover
{
    background: #0c88da !important;
    background: linear-gradient(90deg, rgba(12,136,218,1) 0%, rgba(78,211,239,1) 50%, rgba(124,204,228,1) 100%) !important;
    color     : #ffffff;
}
.swipedown-btn{
    margin-right: 10px;
}

.delete-btn {
    background : none !important;
    color      : #ff0037;
    border     : none;
    font-weight: 500;
}

.delete-btn:hover {
    /* background: #D2122E !important; */
    background: rgb(36, 0, 0);
    background: linear-gradient(90deg, rgb(82, 0, 7) 0%, rgb(138, 1, 15) 35%, rgb(235, 0, 79) 100%) !important;
}